<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        colors="true"
        bootstrap="tests/bootstrap.php"
        cacheResultFile="./var/phpunit.cache/test-results"
        cacheResult="true"
        executionOrder="depends,defects"
        forceCoversAnnotation="false"
        beStrictAboutCoversAnnotation="false"
        beStrictAboutOutputDuringTests="false"
        beStrictAboutTodoAnnotatedTests="false"
        beStrictAboutTestsThatDoNotTestAnything="true"
        convertDeprecationsToExceptions="false"
        failOnRisky="false"
        failOnWarning="false"
        verbose="false">
    <testsuites>
        <testsuite name="default">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <php>
        <ini name="memory_limit" value="-1"/>
        <ini name="error_reporting" value="E_ALL &amp; ~E_DEPRECATED"/>
        <env name="SHELL_VERBOSITY" value="-1"/>
    </php>
</phpunit>
